<div class='box-grid'>
  <p><%= link_to "Add Weather Station", new_weather_path, :id => 'submit_link', :class => 'button' %></p>
</div>

<div class="grid-x grid-padding-x small-up-2 medium-up-3">
    <%= render partial: 'current_weather_box', :locals => { :weathers => @current_weathers } %>
</div>
