/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



.expand-column-wrapper {
  height: 50rem;
  max-width: 50rem;
  min-width: 25rem;
}

.expand-column-wrapper .column {
  margin: 4px;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expand-column-wrapper .column:hover {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
          background-color: teal;
}

.expand-column-wrapper .column:hover .expand-column-content {
  opacity: 1;
}

.expand-column-wrapper .expand-column-content {
  color: #fefefe;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 39.9375em) {
  .expand-column-wrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.expand-column-wrapper .column:nth-of-type(1) {
  /* background: url("https://images.pexels.com/photos/2154/sky-lights-space-dark.jpg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat; */
  height: 50rem;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(2) {
  /* background: url("https://images.pexels.com/photos/113744/helix-nebula-ngc-7293-planetary-fog-constellation-aquarius-113744.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat; */
  height: 50rem;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(3) {
  /* background: url("https://images.pexels.com/photos/2162/sky-space-dark-galaxy.jpg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat; */
  height: 50rem;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(4) {
  /* background: url("https://images.pexels.com/photos/24248/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat; */
  height: 50rem;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(5) {
  /* background: url("https://images.pexels.com/photos/41951/solar-system-emergence-spitzer-telescope-telescope-41951.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat; */
  height: 50rem;
  background-size: cover;
}

.expand-column-wrapper .column:nth-of-type(6) {
  /* background: url("https://images.pexels.com/photos/2156/sky-earth-space-working.jpg") center center no-repeat; */
  height: 50vh;
  background-size: cover;
}
